<div><timer style="display: none;" interval="1000" countdown="5"/></div> 
<img ng-if="!participantsLoaded" src="images/ajax-loader.gif" />

<div class="dropdown">
	<button class="btn dropdown-toggle btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown">
		Meny
	    <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#/admOverview">Oversikt påmeldingar</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/admPartList">Oversikt deltakarar</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/admPartFilterList">Deltakarfiltrering</a></li>   
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/admWaitingList">Ventelisteoversikt</a></li>  
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logg ut</a></li>  
	</ul>
</div><br/>

<!--<h4>Oversikt over deltakarar</h4><br/>-->
<div class="container">
	<div id="part-list" class="row">
		<div> <!-- class="col-xs-6" -->	
			<div class="panel panel-default">
			  	<div class="panel-heading">
			  		<table style="width: 100%">
			  			<tr>
			  				<td><h4>Deltakaroversikt</h4></td>
			  				<td style="text-align: right">
			  					<div class="btn-group">
							        <button type="button" class="btn btn-primary" ng-model="showSelect" btn-radio="true">Fullførte</button>
							        <button type="button" class="btn btn-primary" ng-model="showSelect" btn-radio="false">Ikke fullførte</button>
							    </div>
			  				</td>
			  			</tr>
			  		</table>
			  	</div>
			  	<div class="panel-body">
			  		<div class="input-group">
			            <input type="text" class="form-control" placeholder="Søk i deltakere" name="srch-term" id="srch-term" ng-model="searchParticipants">
			            <div class="input-group-btn">
			                <button title="Tilbakestill søk" class="btn btn-default" ng-click="resetSearch()" ng-model="searchParticipants"><i class="glyphicon glyphicon-remove-circle"></i></button>
			            </div>
			        </div><br/>
			    	<table class="table table-hover">
			    		<tr>
			    			<th>Navn</th>
			    			<th>Fødselsdato</th>
			    			<th>Kjønn</th>
			    			<th>Tid fullført</th>
			    			<th>Beløp</th>
			    			<th>Aktivitetar</th>
			    			<th></th>
			    		</tr>
						<tr ng-repeat="participant in (filteredParticipants = (participants | filter:searchParticipants | filter:{regCompleted: showSelect})) | startFrom:currentPage*pageSize | limitTo:pageSize">
							<td>{{participant.firstName}} {{participant.lastName}}</td>
							<td>{{participant.birthDate}}</td>
							<td>{{participant.sex}}</td>
							<td>{{participant.regCompletedTime}}</td>
							<td>{{participant.totalAmount}}</td>
							<td>
								<span ng-repeat="activity in participant._activities">
									<span ng-if="activity.attending" style="background-color: {{activity.grpColor}}; color: darkgrey; margin-right: 2px; padding-left: 2px; padding-right: 2px;"> {{activity.eventCode}} </span>
									<span ng-if="activity.waiting" style="color: red; margin-right: 2px; padding-left: 2px; padding-right: 2px;"> v.l {{activity.eventCode}} </span>
								</span>
							</td>
							<td>
								<button type="button" title="Slett deltakar" style="border: 1px; background-color: transparent" ng-click="deleteParticipant(participant._id)">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
								<button type="button" title="Rediger deltakar" style="border: 1px; background-color: transparent" ng-click="editParticipant($index)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button type="button" ng-if="!participant.hasPaid" title="Registrer betaling" style="border: 1px; background-color: transparent" ng-click="registerPayment(participant._id, participant.firstName, participant.lastName)">
									<span class="glyphicon glyphicon-usd"></span>
								</button>
							</td>
						</tr>
					</table>

					<!--<ul class="pagination">
					  <li><a href="" ng-click="changePage(false)">&laquo;</a></li>
					  <li><span>{{currentPage+1}}/{{numberOfPages()}}</span></li>
					  <li><a href="" ng-click="changePage(true)">&raquo;</a></li>
					</ul>-->

			  	</div>
			</div>
		</div>
	</div>
</div>


