<div><timer style="display: none;" interval="1000" countdown="5"/></div> 
<img ng-if="!activitiesLoaded" src="images/ajax-loader.gif" />

<div class="dropdown">
	<button class="btn dropdown-toggle btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown">
		Meny
	    <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#/admOverview">Oversikt påmeldingar</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/admPartList">Oversikt deltakarar</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/admWaitingList">Ventelisteoversikt</a></li>  
	    
	</ul>
</div><br/>

<h4>Oversikt over antall påmelde pr. aktivitet</h4><br/>
<div>
	<div class="row" ng-if="activitiesLoaded" ng-repeat="activityStat in availableActivities">
		<div class="col-md-3"> <!-- ng-if="activityStat.fewLeft" -->
			<span>{{activityStat.title}}</span>
		</div>
		<div class="col-md-4">
			<progressbar max="activityStat.maxAttending" value="liveActStatus[activityStat.eventCode]"><span style="color:black; white-space:nowrap; margin-left: 20px;">{{liveActStatus[activityStat.eventCode]}} / {{activityStat.maxAttending}}</span></progressbar>
		</div>
	</div>
</div>


