<div><timer style="display: none;" interval="1000" countdown="5"/></div> 
<img ng-if="!activitiesLoaded" src="images/ajax-loader.gif" />
<div ng-if="showStepOne">
	<div class="row panel panel-default indent-right" ng-repeat="participant in participants" ng-if="activitiesLoaded">
		<div class="panel-heading" ng-if="activitiesLoaded">
			<h6 class="panel-title">Påmelding deltakar {{$index+1}}</h6>
		</div>
		<div class="panel-body">
			<form name="participantForm{{$index}}" novalidate="">
	  			<div class="row">
			  		<!--<div class="col-sm-1 col-one test">{{$index+1}}</div>-->
			  		<div class="col-sm-3 col-one">
			  			<input type="text" class="form-control" ng-model="participant.firstName" placeholder="Fornamn"/>
			  		</div>
			  		<div class="col-sm-3 col-one">
			  			<input type="text" class="form-control" ng-model="participant.lastName" placeholder="Etternamn"/>
			  		</div>
			  		<div class="col-sm-4 col-one">
			  			<select class="form-control selectField" ng-model="participant.birthDay" ng-options="day for day in days">
			  				<option value="" selected="selected">Dag</option>
						</select>
						<select class="form-control selectField" ng-model="participant.birthMonth" ng-options="month for month in months">
							<option value="" selected>Mnd</option>
						</select>
						<select class="form-control selectField" ng-model="participant.birthYear" ng-options="year for year in years" ng-change="validateYear($index)">
							<option value="">År</option>
						</select>
			  		</div>
		  		</div>
		  		<div class="row">
		  			<!--<div class="help-block indent-right-pad">Velg aktivitetar for deltakar</div>-->
		  			<div class="col-sm-2" ng-repeat="activity in participant.activityList">
		  				<div ng-if="isParticipantOldEnough(participant.birthYear, activity.minBirthYear)">
			  				<div class="checkbox" ng-if="!activity.isFull"> <!-- Show event selector -->
								<small>
									<label ng-if="!isBlocked(activity.eventCode, $parent.$parent.$parent.$index)">
								    	<input type="checkbox" ng-disabled="false" ng-click="evaluateEventBlock(!activity.isAttending, activity.blockEventCode, $parent.$parent.$parent.$parent.$index)" ng-model="activity.isAttending"/><span style="color: #000000;">{{activity.title}}</span>
									</label>
									<label ng-if="isBlocked(activity.eventCode, $parent.$parent.$parent.$index)" popover="Aktivitet kan ikkje veljast fordi annan aktivitet er valgt for same veke" 
																												 popover-trigger="mouseenter" 
																												 popover-placement="top">
								    	<input type="checkbox" ng-disabled="true" ng-click="evaluateEventBlock(!activity.isAttending, activity.blockEventCode, $parent.$parent.$parent.$parent.$index)" ng-model="activity.isAttending"/><span style="color: #dddddd;">{{activity.title}}</span>
									</label>
									<!--<label ng-if="!isBlocked(activity.eventCode, $parent.$parent.$parent.$index)">
								    	<input type="checkbox" ng-disabled="isBlocked(activity.eventCode, $parent.$parent.$parent.$index)" ng-click="evaluateEventBlock(!activity.isAttending, activity.blockEventCode, $parent.$parent.$parent.$index)" ng-model="activity.isAttending"/><span style="color: #000000;">{{activity.title}}</span>
									</label>-->
								</small>
							</div>
							<div class="checkbox" ng-if="activity.isFull"> <!-- Show waiting list selector -->
								<small>
									<!--<label ng-if="!isBlocked(activity.eventCode, $parent.$parent.$parent.$index)">
									    <input type="checkbox" ng-disabled="false" ng-model="activity.isWaiting"/><span style="color: #000000;">Venteliste {{activity.title}}</span>
									</label>-->
									<!--<label ng-if="isBlocked(activity.eventCode, $parent.$parent.$parent.$index)" popover="Aktivitet kan ikkje velgjast fordi annen aktivitet er valgt på same veke" 
																												 popover-trigger="mouseenter" 
																												 popover-placement="top">-->
									<label>
									    <input type="checkbox" ng-model="activity.isWaiting"/><span style="color: #FF0000;">Venteliste </span><span>{{activity.title}}</span> <!--ng-change="evaluateEventBlock(activity.isWaiting, activity.blockEventCode, $parent.$parent.$parent.$parent.$index)"-->
									</label>
								</small>
							</div>
						</div>
			  		</div>
		  		</div>
	  		</form>
		</div>
	</div>
	<div class="row" ng-if="activitiesLoaded">
		<div ng-repeat="activityStat in availableActivities">
			<div class="col-lg-2" ng-if="activityStat.fewLeft">
				<span class="label label-warning">{{activityStat.shortTitle}} - få ledige</span>
			</div>
			<div class="col-lg-2" ng-if="!activityStat.fewLeft">
				
			</div>
		</div>
	</div><br/>
	<div class="row" ng-if="activitiesLoaded">
		<div class="col-xs-8">
			<button type="button" ng-disabled="disableAddParticipant" class="btn btn-primary btn-space" ng-click="addParticipant()">
				Legg til deltakar
			</button>
			<button type="button" ng-disabled="disableRemoveParticipant" class="btn btn-primary btn-space" ng-click="removeLastParticipant()">
				Fjern siste deltakar
			</button>
			<button type="button" ng-disabled="" class="btn btn-success btn-space" ng-click="goToStep2()">
				Gå vidare
			</button>
		</div>
	</div>
</div>
<div ng-if="showStepTwo">
	<!--<div class="row row-fields" ng-if="activitiesLoaded">
		<div class="col-sm-8">
			Fyll inn fornavn, etternavn og fødselsdato. Du kan legges til fleire deltakarar (maks 4).
		</div>
	</div>-->
	<div class="row panel panel-default indent-right">
		<div class="panel-heading">
			<h6 class="panel-title">Spesielle omsyn vedrørande deltakarar</h6>
		</div>
		<div class="panel-body">
			<form name="specialNeedsForm" novalidate="">
	  			<div class="row" ng-repeat="participant in participants">
			  		<div class="col-sm-6 col-onev2">
			  			<textarea class="form-control" ng-model="participant.specialNeeds" placeholder="Spesielle omsyn for {{participant.firstName}} {{participant.lastName}} (valfritt)"/>
			  		</div>
			  	</div>
	  		</form>
		</div>
	</div>
	<div class="row panel panel-default indent-right">
		<div class="panel-heading">
			<h6 class="panel-title">Informasjon om føresette*</h6>
		</div>
		<div class="panel-body">
			<form name="parentsForm" novalidate="">
				<div class="row row-fieldsv2">
					<span class="col-sm-8 col-onev2">Fyll inn informasjon om primærkontakt</span>
				</div>
	  			<div class="row">
			  		<div class="col-sm-3 col-onev2">
			  			<input type="text" class="form-control" ng-model="participantCommonFields.parentOneFirstName" placeholder="Fornamn"/>
			  		</div>
			  		<div class="col-sm-3 col-onev2">
			  			<input type="text" class="form-control" ng-model="participantCommonFields.parentOneLastName" placeholder="Etternamn"/>
			  		</div>
			  		<div class="col-sm-3 col-onev2">
			  			<input type="text" class="form-control" ng-model="participantCommonFields.parentOnePhone" placeholder="Mobiltelefon"/>
			  		</div>
			  		<div class="col-sm-3 col-onev2">
			  			<input type="text" class="form-control" ng-model="participantCommonFields.parentOneEmail" placeholder="E-post"/>
			  		</div>
			  	</div><br/>
			  	<div class="row row-fieldsv2">
					<span class="col-sm-8 col-onev2">Fyll inn informasjon om sekundærkontakt</span>
				</div>
			  	<div class="row">
			  		<div class="col-sm-3 col-onev2">
			  			<input type="text" class="form-control" ng-model="participantCommonFields.parentTwoFirstName" placeholder="Fornamn"/>
			  		</div>
			  		<div class="col-sm-3 col-onev2">
			  			<input type="text" class="form-control" ng-model="participantCommonFields.parentTwoLastName" placeholder="Etternamn"/>
			  		</div>
			  		<div class="col-sm-3 col-onev2">
			  			<input type="text" class="form-control" ng-model="participantCommonFields.parentTwoPhone" placeholder="Mobiltelefon"/>
			  		</div>
			  		<!--<div class="col-sm-3 col-onev2">
			  			<input type="text" class="form-control" ng-model="participantCommonFields.parentTwoEmail" placeholder="E-post"/>
			  		</div>-->
			  	</div>
			  	<div class="row row-fieldsv2">
					<span class="col-sm-8 col-onev2"><small>* Informasjon om føresette er felles for alle dine deltakarar. Alle må fylle inn 2 kontaktpersonar. Sekundærkontakt kan vere besteforeldre, vener, etc.</small></span>
				</div>
	  		</form>
		</div>
	</div>
	<div class="row panel panel-default indent-right">
		<div class="panel-heading">
			<h6 class="panel-title">Særskilde løyve*</h6>
		</div>
		<div class="panel-body">
			<form name="rightsForm" novalidate="">
	  			<div class="row">
			  		<div class="col-sm-3 col-onev2">
			  			<div class="checkbox">
							<label>
						    	<input type="checkbox" ng-model="participantCommonFields.canTakePictures"/><small>Kan takast bilete av. Kun til bruk i regi av Klenkarberget Sommarcamp.</small>
							</label>
						</div>
			  		</div>
			  		<div class="col-sm-3 col-onev2">
			  			<div class="checkbox">
							<label>
						    	<input type="checkbox" ng-model="participantCommonFields.canTakeVideo"/><small>Kan takast video av. Kun til bruk i regi av Klenkarberget Sommarcamp.</small>
							</label>
						</div>
			  		</div>
			  		<div class="col-sm-3 col-onev2">
			  			<div class="checkbox"> 
							<label>
						    	<input type="checkbox" ng-model="participantCommonFields.canUseTransport"/><small>Kan nytte transport (bil/buss) dersom godkjend sikring ivaretas.</small>
							</label>
						</div>
			  		</div>
			  		<div class="col-sm-3 col-onev2">
			  			<div class="checkbox"> 
							<label>
						    	<input type="checkbox" ng-model="participantCommonFields.canDoSwimming"/><small>Kan delta på badeaktivitetar</small>
							</label>
						</div>
			  		</div>
			  	</div>
			  	<div class="row row-fieldsv2">
					<span class="col-sm-8 col-onev2"><small>* Særskilde løyve gjeld for alle dine deltakarar</small></span>
				</div>
	  		</form>
		</div>
	</div>
	<div class="row panel panel-default indent-right">
		<div class="panel-heading">
			<h6 class="panel-title">Øvrige opplysningar</h6>
		</div>
		<div class="panel-body">
			<form name="otherForm" novalidate="">
	  			<div class="row">
			  		<div class="col-sm-6 col-onev2">
			  			<textarea class="form-control" ng-model="participantCommonFields.comments" placeholder="Øvrige kommentarar, spørsmål eller opplysningar (valfritt)"/>
			  		</div>
			  	</div>
	  		</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<button type="button" class="btn btn-danger btn-space" ng-click="restartReg()">
				Avbryt påmelding
			</button>
			<button type="button" class="btn btn-success btn-space" ng-click="confirmRegistration()">
				Bekreft påmelding
			</button>
		</div>
	</div>
	<br/>
</div>
<div ng-if="showStepThree">
	<div class="alert alert-info">
		<h4>Påmelding fullført</h4>
	  	<p>Du vil snarlig få ein e-post for kvar deltakar med ei stadfesting. Vi ber om at de sjekkar at registrerte opplysningar er korrekte. Ta kontakt med oss på <a href="mailto:post@sommarcamp.no">post@sommarcamp.no</a> snarast dersom det er noko som ikkje stemmer.</p>
	</div>
</div>
