<!--<div class="modal-dialog">-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Prosjektskjema</h4>
    </div>
    <div class="modal-body">
      	<form name="projectForm" novalidate="">
			<div class="form-group">
				<div id="project-form-grid" class="row">
					<div class="col-xs-12 col-sm-6 col-md-8">
						<input type="number" class="form-control" name="idproject" 
							ng-model="formData.idproject" required="" placeholder="Prosjektnummer" />
					</div>
					<div class="col-xs-6 col-md-4" ng-show="projectForm.$dirty && projectForm.$invalid">
						<span class="error" ng-show="projectForm.idproject.$error.number">
							<span class="glyphicon glyphicon-minus" /> Bare tall
						</span>
						<span class="error" ng-show="projectForm.idproject.$error.required">
							<span class="glyphicon glyphicon-minus" /> Bare tall
						</span>
					</div>
				</div><br/>
				<div id="project-form-grid" class="row">
					<div class="col-xs-12 col-sm-6 col-md-8">
						<input type="text" class="form-control" name="projectTitle" 
							ng-model="formData.title" required="" placeholder="Navn på prosjekt" />
					</div>
					<div class="col-xs-6 col-md-4" ng-show="projectForm.$dirty && projectForm.$invalid">
						<span class="error" ng-show="projectForm.projectTitle.$error.required">
						<span class="glyphicon glyphicon-minus" /></span>
					</div>
				</div><br/>
				<div id="project-form-grid" class="row">
					<div class="col-xs-12 col-sm-6 col-md-8">
						<select class="form-control text-center" 
								name="_customer" 
								ng-model="formData._customer" 
								required="" 
								ng-options="customer._id as customer.name for customer in customers">
						  <option value="" style="display: none;">-- Kunde ---</option>
						</select>
					</div>
					<div class="col-xs-6 col-md-4" ng-show="projectForm.$dirty && projectForm.$invalid">
						<span class="error" ng-show="projectForm._customer.$error.required">
						<span class="glyphicon glyphicon-minus" /></span>
					</div>
				</div><br/>
				<div id="project-form-grid" class="row">
					<div class="col-xs-12 col-sm-6 col-md-8">
						<select class="form-control text-center" 
								name="_leader" 
								ng-model="formData._leader" 
								required="" 
								ng-options="leader._id as leader.name for leader in leaders">
						  <option value="" style="display: none;">-- Prosjektleder ---</option>
						</select>
					</div>
					<div class="col-xs-6 col-md-4" ng-show="projectForm.$dirty && projectForm.$invalid">
						<span class="error" ng-show="projectForm._leader.$error.required">
						<span class="glyphicon glyphicon-minus" /></span>
					</div>
				</div>
			</div>
		</form><br/>
		<span class="message-container" ng-controller="MessageController" ng-class="messageStyle" style="text-align: right;">
        	{{ message }}
        <div style="display: none;"><timer interval="1000" countdown="5"/></div> 
    </div>
    <div class="modal-footer">
		<button type="submit" class="btn btn-primary" ng-if="showSaveButton" ng-click="createProject()">Lagre</button>
		<button type="submit" class="btn btn-primary" ng-if="showUpdateButton" ng-if="doEdit" ng-click="updateProject(projectEditedID)">Oppdater</button>
		<button type="reset" class="btn btn-default" ng-show="showCancelButton" ng-click="cancel()">Avbryt</button>
    </div>
  </div>
<!--</div>-->